body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181717;
  color: rgb(255, 255, 255);
}

.flex {
  display: flex
}

.justify-content {
  justify-content: center;
}

.title {
  margin: 5% auto 2%;
  font-size: 3em;
  color: #8083e3;
}

button {
  cursor: pointer;
}


.task-creation {
  border-radius: 15px;
  width: 550px;
  height: 35px;
  padding: 10px;
  justify-content: space-between;
  background-color: #5a5a5a;
  margin: 20px 0 30px;
}

.input, .input:focus {
  width: 75%;
  border: none;
  outline: none;
  font-size: 1.2em;
  background-color: #5a5a5a;
  color: white;
}

.task-info {
  justify-content: space-between;
  gap: 12px;
}

.time-due {
  color: white;
  background-color: #151515;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  padding: 5px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1);
  font-size: larger;
}

.add {
  background-color: #151515;;
  color: white;
  padding: 5px;
  width: 55px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}


.completed-list {
  margin-top: 4.5em;
}

.section-title {
  text-align: center;
  font-size: 1.8em;
}

.task-cont {
  align-items: center;
  justify-content: space-between;
  gap: 5em;
  font-size: 1.2em;
  margin-bottom: 15px;
}

.task-cont:last-child {
  margin-bottom: 0;
}


input[type="checkbox"] {
  height: 22px;
  width: 22px;
  border-radius: 100%;
  cursor: pointer;
  outline: none;
  accent-color: #8083e3;
}

.left {
  align-items: center;
  gap: 8px;
  color: rgba(255, 255, 255, 0.808);
}

.right {
  align-items: center;
  gap: 8px;
}

.delete-btn {
  cursor: pointer;
  color: transparent;
  text-shadow: 0 0 0 #F05051;
  font-size: 20px;
}

.reset {
  background-color: #5a5a5a;
  color: rgba(255, 255, 255, 0.822);
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 5em;
}

