body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex
}

.justify-content {
  justify-content: center;
}

.title {
  margin: 5% auto 2%;
  font-size: 3em;
}

button {
  cursor: pointer;
}


.task-creation {
  border-radius: 15px;
  width: 550px;
  height: 35px;
  padding: 10px;
  justify-content: space-between;
  background-color: #5a5a5a;
  margin: 20px 0 30px;
}

.input, .input:focus {
  width: 75%;
  border: none;
  outline: none;
  font-size: 1.2em;
  background-color: #5a5a5a;
  color: white;
}

.task-info {
  justify-content: space-between;
  gap: 12px;
}

.time-due {
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  padding: 5px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1);
  font-size: larger;
}

.add {
  background-color: black;
  color: white;
  padding: 5px;
  width: 55px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

.section-title {
  text-align: center;
}

.task-cont {
  align-items: center;
  justify-content: space-between;
  gap: 5em;
  font-size: 1.2em;
}



input[type="checkbox"] {
  height: 22px;
  width: 22px;
  border-radius: 100%;
  cursor: pointer;
  outline: none;
  accent-color: #8083e3;
}

.left {
  align-items: center;
  gap: 8px;
}

.right {
  align-items: center;
  gap: 8px;
}


